@import 'components/bootstrap-reboot.styl'
@import 'components/globals.styl'
@import 'components/login.styl'
@import 'components/header.styl'
@import 'components/footer-menu.styl'
@import 'components/home.styl'
@import 'components/profile.styl'
@import 'components/simple-profile.styl'
@import 'components/shortcuts.styl'
@import 'components/notice.styl'
@import 'components/search.styl'
@import 'components/more.styl'
@import 'components/nodisplaysuport.styl'


.container
  width: 100vw
  height: 100vh
  .content
    height: calc(100% - 130px)
    overflow: auto
    background-color: light-cl

  
  