.short
  //- .short__cut.share
  //-   a(href="#")
  //-     i.icon-compartir
  .short__cut.phone
    a(href="#")
      i.icon-phone
  .short__cut.whatsapp
    a(href="#")
      i.icon-whatsapp1