footer
  .menu
    .menu__button
      a(href="home.html")
        i.icon-casa-3
        span Home
      a(href="search.html")
        i.icon-search
        span Search
      a(href="more.html")
        i.icon-menu-abierto
        span More