header
  .top
    .top-bar
      h1 Mr. Fork
      .top-bar--btn
        //- a#buscar(href="search.html")
        //- i.icon-busqueda
        a(href="notice.html")
          i.icon-notificacion-1
      .top-bar__search
        a#search(href="#search")
          .icon
            i.icon-busqueda
        input(type="text" placeholder="Buscar restaurantes y comida")
        .icon
          i.icon-cancelar.cancel
          