<!DOCTYPE html>
html(lang="es")
  head
    include head.pug
    include mixins.pug
  body
    .big-display
      .info-display
        img(src="src/assets/icon/logo-mr.svg", alt="")
        h1 Mr. Fork
        p Visita el sitio desde un dispositivo movil para asegurar la experencia de usuario
    .container
      include header.pug
      block content
      include footer.pug