extend components/template.pug

block content
  .content
    main
    .home
      .home__card
        a(href="simple-profile.html")
          .home__card--cover
            img(src="src/assets/img/default-cover.jpg", alt="")
          .home__card--info
            .home__card--info-data
              h2 Bussiness name
              .info-buss
                p Kind of food
            .home__card--info-extra
              .home__card--info-extra-img
                img(src="src/assets/img/perfil-cover-default.svg", alt="")
              p.time 30 min
      .home__card
        a(href="simple-profile.html")
          .home__card--cover
            img(src="src/assets/img/default-cover.jpg", alt="")
          .home__card--info
            .home__card--info-data
              h2 Bussiness name
              .info-buss
                p Kind of food
            .home__card--info-extra
              .home__card--info-extra-img
                img(src="src/assets/img/perfil-cover-default.svg", alt="")
              p.time 30 min
      .home__card
        a(href="simple-profile.html")
          .home__card--cover
            img(src="src/assets/img/default-cover.jpg", alt="")
          .home__card--info
            .home__card--info-data
              h2 Bussiness name
              .info-buss
                p Kind of food
            .home__card--info-extra
              .home__card--info-extra-img
                img(src="src/assets/img/perfil-cover-default.svg", alt="")
              p.time 30 min
      .home__card
        a(href="simple-profile.html")
          .home__card--cover
            img(src="src/assets/img/default-cover.jpg", alt="")
          .home__card--info
            .home__card--info-data
              h2 Bussiness name
              .info-buss
                p Kind of food
            .home__card--info-extra
              .home__card--info-extra-img
                img(src="src/assets/img/perfil-cover-default.svg", alt="")
              p.time 30 min
      .home__card
        a(href="simple-profile.html")
          .home__card--cover
            img(src="src/assets/img/default-cover.jpg", alt="")
          .home__card--info
            .home__card--info-data
              h2 Bussiness name
              .info-buss
                p Kind of food
            .home__card--info-extra
              .home__card--info-extra-img
                img(src="src/assets/img/perfil-cover-default.svg", alt="")
              p.time 30 min
      .home__card
        a(href="simple-profile.html")
          .home__card--cover
            img(src="src/assets/img/default-cover.jpg", alt="")
          .home__card--info
            .home__card--info-data
              h2 Bussiness name
              .info-buss
                p Kind of food
            .home__card--info-extra
              .home__card--info-extra-img
                img(src="src/assets/img/perfil-cover-default.svg", alt="")
              p.time 30 min
      .home__card
        a(href="simple-profile.html")
          .home__card--cover
            img(src="src/assets/img/default-cover.jpg", alt="")
          .home__card--info
            .home__card--info-data
              h2 Bussiness name
              .info-buss
                p Kind of food
            .home__card--info-extra
              .home__card--info-extra-img
                img(src="src/assets/img/perfil-cover-default.svg", alt="")
              p.time 30 min
      .home__card
        a(href="simple-profile.html")
          .home__card--cover
            img(src="src/assets/img/default-cover.jpg", alt="")
          .home__card--info
            .home__card--info-data
              h2 Bussiness name
              .info-buss
                p Kind of food
            .home__card--info-extra
              .home__card--info-extra-img
                img(src="src/assets/img/perfil-cover-default.svg", alt="")
              p.time 30 min