extend components/template.pug

block content
  .content
    main
      .home
        +item-card('simple-profile.html', 'default-cover.jpg', 'Bussines Name', 'Kind of food', 'perfil-cover-default.svg')
        +item-card('profile.html', 'default-cover.jpg', 'Bussines Name', 'Kind of food', 'perfil-cover-default.svg')
        +item-card('profile.html', 'default-cover.jpg', 'Bussines Name', 'Kind of food', 'perfil-cover-default.svg')