extend components/template.pug

block content
  .content
    .more
      .more__item
        a(href="#")
          .title
            h2 Afiliar mi negocio
          .icon
            i.icon-tienda
      .more__item
        a(href="#")
          .title
            h2 Siguenos en Facebook!
          .icon
            i.icon-facebook1
      .more__item
        a(href="#")
          .title
            h2 Ver más de este proyecto
          .icon
            i.icon-global