extend components/template.pug

block content
  .content
    .more
      .more__item
        a(href="#")
          .title
            h2 Registrar negocio
          .icon
            i.icon-tienda
      .more__item
        a(href="#")
          .title
            h2 Siguenos en Facebook!
          .icon
            i.icon-facebook1
      .more__item
        a(href="#")
          .title
            h2 Visita nuestro sitio Web
          .icon
            i.icon-global