extend components/template.pug

block content
  .content
    .notice
      .notice__cont
        +item-notice("perfil-cover-default.svg", "Notification", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt dolore eos quae?")
        +item-notice("perfil-cover-default.svg", "Notification", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt dolore eos quae?")
        +item-notice("perfil-cover-default.svg", "Notification", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt dolore eos quae?")


