extend components/template.pug

block content
  .content
    .search
      .search__cont
        +item-search("perfil-cover-default.svg", "Title")
        +item-search("perfil-cover-default.svg", "Title")
        +item-search("perfil-cover-default.svg", "Title")
        +item-search("perfil-cover-default.svg", "Title")
        +item-search("perfil-cover-default.svg", "Title")
        +item-search("perfil-cover-default.svg", "Title")
        +item-search("perfil-cover-default.svg", "Title")
        +item-search("perfil-cover-default.svg", "Title")
        +item-search("perfil-cover-default.svg", "Title")
  style
    include ../src/css/search-bar.css