// ----------------------------------Variables
light-cl = #F9FAFA
dark-cl = #484538
first-cl = #FF773D
second-cl = #DB5461
third-cl = #F19143
star-cl = #f7c318


// -----------------------------------Fonts
fontOne = 'Baloo Paaji 2'
fontTwo = 'Roboto'

*
  margin: 0
  padding: 0
  border: 0
  outline: 0
  box-sizing: border-box

a
  color: inherit 
  text-decoration: none