.profile
  &__main
    box-shadow: -1px 3px 6px rgba(0,0,0,.2);
    position: relative
    .main
      height: 20%
      figure
        margin: 0
      .back
        height: 28px
        a
          text-decoration: none
          i
            font-size: 28px
      &__cover
        width: 100%
        .back-cover
          position: absolute
          left: 15px
          top: 10px
          color: light-cl
        img
          width: 100%
      &__cont
        &--info
          display: flex
          justify-content: space-between
          width: 100%
          padding: 0 15px 10px
          align-items: flex-end
          color: rgba(dark-cl, .9)
          transition: padding .5s ease
          .back
            display: none
          span
            font-size: .9em
            color: rgba(dark-cl, .6)
            font-weight: 500
          &-data
            line-height: 1.5em
            h2
              margin: 0
              font-size: 1.3em
              font-weight: 600
          &-logo
            display: flex
            flex-flow: column
            align-items:  flex-end
            img
              width: 70px
              margin-top: -40px
              margin-bottom: 5px
              border-radius: 5px
              box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2);
            .wait-time
              i
                font-size: 12px
      .category
        border-top: 1px solid rgba(dark-cl, .2)
        height: 35px
        width: 100%
        background-color: light-cl
        &__cont
          display: flex
          justify-content: space-between
          overflow-x: auto
          &--sect
            line-height: 2em
            padding: 0 15px
            width: 100%
            text-align: center
            span
              width: 100%
              font-weight: 500
              color: rgba(dark-cl, .5)
          .on-sect
            border-bottom: 2px solid first-cl
            span
              color: first-cl
  &__content
    height 100%
    .cont
      width: 100%
      display: flex
      flex-wrap: wrap
      padding: 0 0 15px 15px
      &__item
        position: relative
        width: 50%
        height: 100%
        padding-right: 15px
        margin-top: 15px
        .heart-btn
          position: absolute 
          top: 10px
          right: 25px
          height 25px
          font-size: 20px
          line-height: 10px
          color: light-cl
        &--img
          figure
            height: 33.3333%
            margin: 0
            box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.2);
            border-radius: 0 0 5px 5px
            img
              border-radius: 5px
              max-width: 100%
        &--info
          position: relative
          display: flex
          align-items: flex-end
          justify-content: space-between
          height: 50px
          background-color: white
          margin-top: -50px
          border-radius: 0 0 5px 5px
          padding: 5px
          .data
            line-height: 1.2em
            h2
              margin: 0
              font-size: 1em
              color: rgba(dark-cl)
            span
              font-size: .8em
              font-weight: 500
              color: rgba(dark-cl, .7)
          .price
            // font-size: 1.2em
            color: rgba(dark-cl, .9)
            span
              font-size: 1.1em
              font-weight: 500
            i
              font-size: .8em
  &__content
    height: 100%

.scrolled
  .profile__main
    .main
      &__cont
        position: fixed
        z-index: 999
        background-color: #fff
        left: 0
        right: 0
        top: 70px
        max-height: 80px
        transition: transform .5s
        &--info
          padding: 10px 15px
          transition: padding .5s ease
          justify-content: initial
          align-items: center
          .back
            display: initial
            margin-right: 10px 
          &-data
            span
              display: none
          &-logo
            display: none
      .category
        border-bottom: 1px solid rgba(72,69,56,0.2)
  .profile__content
    .cont
	    padding-top: 95px

.scrolled2
  .profile__main
    .main
      &__cont
        top: 0

