phone-cl = #0073b7
whats-cl = #00b918

.short
  position: fixed
  bottom: 60px
  padding: 10px
  display: flex
  justify-content: space-evenly
  width: 100%
  background-color: light-cl
  border-radius: 0 10px 0 10px
  box-shadow: 1px -2px 8px -3px rgba(0,0,0,0.2)
  &__cut
    font-size: 25px
    width: 30%
    height: 35px 
    text-align: center
    color: light-cl
    a
      text-decoration: none
  .phone
    border-radius: 50px
    background-color: phone-cl
  .whatsapp
    border-radius: 50px
    background-color: whats-cl
  .share
    background-color: dark-cl



