phone-cl = #0073b7
whats-cl = #00b918

.short
  position: fixed
  bottom: 60px
  padding: 10px 15px
  display: flex
  justify-content: space-between
  width: 100%
  background-color: light-cl
  box-shadow: 1px -2px 8px -3px rgba(0,0,0,0.2)
  &__cut
    padding: 2px
    font-size: 25px
    width: 48%
    text-align: center
    color: light-cl
    border-radius: 5px
    a
      text-decoration: none
  .phone
    background-color: phone-cl
  .whatsapp
    background-color: whats-cl


